.aside-container {
  width: 20vw;
  min-width: 250px;
  background-color: #42a8c0;
  color: #fff;
}

.aside-container .aside-info {
  padding: 21px;
}

.img-profile-container {
  background-color: #35899e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
  flex-direction: column;
}

.img-profile-container .top-details h1 {
  font-size: 21px;
  margin: 14px 0 5px 0;
  text-align: center;
}

.img-profile-container .top-details p {
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.aside-info p svg {
  margin-right: 8px;
  position: relative;
  bottom: -1px;
}
/* .aside-info p a {
  text-decoration: none;
  color: #fff;
}

.aside-info p a:hover {
 
} */
@media (max-width: 768px) {
  .aside-container {
    height: auto;
    min-height: 30vh;
    width: 100%;
    min-width: 100%;
  }
}
