.layout-content {
  margin: 0px;
  width: calc(60vw - 42px);
  height: auto;
  min-height: calc(100vh - 42px);
  padding: 21px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .layout-content {
    width: calc(100% - 42px);
    min-height: 70vh;
    height: auto;
  }
}
